name: Testing Github Lab1 Python Unittests
run-name: Unittest

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r Lab_01/requirements.txt

      - name: Run all unittests (discover)
        run: |
          cd Lab_01
          PYTHONPATH=. python -m unittest discover -s test -p "test_*unittest.py"

      - name: Notify on success
        if: success()
        run: echo "Unit tests passed successfully"

      - name: Notify on failure
        if: failure()
        run: echo "Unit tests failed"
